.info {
    padding: 50px 0 80px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 155px;
    }
    &__block {
        outline: none;
        width: 33%;
        margin: 0 auto;
        .img {
            margin: 0 auto;
            height: 100px;
            width: 100px;
            background-color: #fff;
            box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.05);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 60px;
            }
        }
        .title {
            text-align: center;
            margin-top: 25px;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

        .descr {
            margin-top: 10px;
            text-align: center;
            color: #a9a9a9;
            letter-spacing: 3px;
        }
    }
}