.shipping {
    &__header {
        position: relative;
        z-index: -1;
        img {
            width: 100%;
            z-index: 1;
        }
        .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 54px;
            font-family: 'Raleway', sans-serif;
            margin: 0;
            font-weight: 400;
        }
    }
    &__body {
        padding: 80px 0;
        span {
            &.bold_under {
                font-weight: 600;
                text-decoration: underline;
            }
            &.bold {
                font-weight: 600;
            }
        }

        .block {
            margin-bottom: 60px;

            &:last-child {
                margin-bottom: 0;
            }
            h2, h3{
                margin: 0;
                text-align: left;
                font-weight: normal;
                font-size: 35px;
                line-height: 30px;
                font-family: 'Raleway', sans-serif;
                color: #000000;
            }
            p {
                font-size: 14px;
                line-height: 30px;
                margin-top: 30px;
            }

            h3 {
                font-size: 28px;
            }
        }
    }
}