.footer {
    padding: 60px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        flex-basis: 590px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-block {
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0;
            }
            font-family: 'Gilroy';
            font-weight: 400;
            line-height: 13px;
            color: rgba(0, 0, 0, 0.5);

            .logo {
                display: inline-block;
            }
            &-title {
                font-size: 14px;
                margin: 0;
                font-weight: 700;
            }
            &-descr, &-tel {
                font-size: 16px;
                line-height: 17px;
                margin-top: 15px;
                display: block;
                text-decoration: none;
                color: rgba(0, 0, 0, 0.5);
            }
            &-tel {
                margin: 10px 0 0 0;
                padding-bottom: 2px;
                display: inline-block;
                text-decoration: none;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .5s;
                &:hover {
                    background-size: 100% 2px;
                }
            }
        }
        &-descr {
            margin-top: 28px;
            font-family: 'Gilroy';
            font-weight: 400;
            font-size: 16px;
            line-height: 139.6%;
            color: #000000;
            max-width: 420px;
        }
    }

    &__links-block {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
    }

    &__menu {
        position: relative;
        padding: 0 25px;
        flex: 0 1 252px;
        .menu__list {
            padding: 0;
            margin: 21px 0 0 0;
            list-style-type: none;
            .menu__item {
                margin-bottom: 14px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .menu__link {
                font-family: 'Gilroy';
                font-weight: 400;
                font-size: 16px;
                line-height: 139.6%;
                color: #000000;
                text-decoration: none;
                padding-bottom: 2px;
                display: inline-block;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .5s;
                &:hover {
                    background-size: 100% 2px;
                }
            }
        }
        &::before, &::after {
            content: '';
            width: 2px;
            height: 178px;
            background: rgba(0, 0, 0, 0.1);
            position: absolute;
            left: 0px;
            top: 0;
        }
        &::after {
            left: auto;
            right: 0px;
        }
    }
    
    &__block {
        margin-top: 21px;
        &-link {
            display: block;
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .footer__link {
            cursor: pointer;
            font-family: 'Gilroy';
            font-weight: 400;
            font-size: 16px;
            line-height: 139.6%;
            color: #000000;
            text-decoration: none;
            display: inline-block;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .5s;
            padding-bottom: 2px;
            border: none;
            outline: none;
            background-color: #ffffff;
            padding: 0 0 2px 0;
            &:hover {
                background-size: 100% 2px;
            }
           
        }
    }
    &__suggestion {
        flex: 0 1 290px;
    }
    &__account {
        .telegram-link {
            img {
                transition: transform .2s ease-in;
            }

            &:hover img {
                transform: scale(1.1);
            }
        }
    }
}


.footer_black {
    background-color: #000000;


    .footer__info-descr {
        color: #FFFFFF;
    }

    .footer__info-block {
        &-title, &-descr, &-tel {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .footer__menu {
        &::before, &::after {
            background: rgba(255, 255, 255, 0.1);
        }
        .menu__list .menu__link {
            color: #ffffff;
        }
    } 

    .footer__links-block * {
        color: #ffffff;
    }

    .footer__block .footer__link {
        background-color: #000000;
    }

}