.header {
    background-color: #F3F3F3;;
    padding: 20px 0;
    box-shadow: 15px 0px 17px rgba(0, 0, 0, 0.11);
    position: fixed;
    width: 100%;
    z-index: 180;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: block;
        img {
            display: block;
        }
    }

    &__menu {
        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        &-item {
            padding: 0 15px;
            display: flex;
            align-items: center;
            &:last-child {
                padding-right: 0;
            }
            &_offset {
                padding: 0;
            }
            &_offsetL {
                padding: 0 0px 0 20px;
            }

            // switcher 

            .switch-btn {
                display: inline-block;
                width: 32px;
                height: 15px;
                background: #000000;
                border-radius: 35px;
                z-index: 0;
                margin: 0 10px;
                padding: 0;
                border: none;
                cursor: pointer;
                position: relative;
                transition: 300ms; 
            }
            .switch-btn::after {
                content: "";
                width: 10.5px;
                height: 10.5px;
                background: #FFFFFF;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%); 
                left: 2px; 
                transition: 300ms; 
                position: absolute;
                z-index: 1;
            }

            .switch-on {
                background: #000000;
            }
            .switch-on::after {
                left: 18px;
            }
        }
        &-link {
            display: flex;
            align-items: center;
            font-family: 'Gilroy';
            font-weight: 400;
            font-size: 19px;
            line-height: 22px;
            color: #000000;
            text-decoration: none;
            &_active {
                font-weight: 700;
            }
            &_disable {
                pointer-events: none;
                cursor: default;
            }
        }

    }
}