@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2'),
         url('../fonts/Gilroy-ExtraBold.woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.woff2'),
         url('../fonts/Gilroy-SemiBold.woff');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2'),
         url('../fonts/Gilroy-Regular.woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2'),
         url('../fonts/Gilroy-Regular.woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}