.projects {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .project {
            position: relative;
            z-index: 1;
            img {
                height: 100%;
                width: 100%;
            }
            &__descr {
                opacity: 0;
                visibility: hidden;
                z-index: 10;
                position: absolute;
                top: 30px;
                left: 20px;
                width: 100%;
                height: 100%;
                h3 {
                    margin: 0;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32   px;
                    line-height: 64px;
                    color: #FFFFFF;
                }
                a {
                    margin-top: 14px;
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                    img {
                        margin-left: 15px;
                        width: 17px;
                    }
                }
            }

            &:hover {
                .overlay { 
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #333333;
                    opacity: 0.8;
                    transition: .5s;
                }

                .project__descr {
                    visibility: visible;
                    opacity: 1;
                    transition: 1.2s;
                }
            }

        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
        // button {
        //     margin-top: 30px;
        //     width: 221px;
        //     height: 71px;
        //     background: #333333;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     cursor: pointer;
        //     outline: none;
        //     border: none;
    
        //     font-style: normal;
        //     font-weight: normal;
        //     font-size: 12px;
        //     line-height: 12px;
        //     letter-spacing: 0.2em;
        //     text-transform: uppercase;
        //     color: #FFFFFF;
        // }
    }
}